* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 1rem;
  display: grid;
}

.App {
  height: 100%;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-rows: 80px 1fr 30px;
  text-align: center;
  flex: 1;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  justify-self: start;
  line-height: 0.8;
}

.scoreBoard {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.mainSection {
  display: grid;
  grid-template-columns: minmax(850px, 1100px);
  justify-content: center;
  align-items: center;
}

.playGround {
  height: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 180px));
  grid-auto-rows: 250px;
  justify-content: center;
  align-content: center;
  gap: 35px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header span {
  font-size: 1.5rem;
}

.scoreBoard span {
  color: #b30000;
}

p {
  padding: 5px;
}
