@import url("https://fonts.googleapis.com/css2?family=Rubik&family=Skranji&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  color: #c2c2c2;
  display: grid;
}

.App {
  height: 100%;
  width: 100%;
  background-image: url(../images/background.png);
  padding: 10px;
  display: grid;
  grid-template-rows: 80px 1fr 30px;
  text-align: center;
  gap: 10px;
  flex: 1;
}

.header {
  color: #66ff00;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  justify-self: start;
  line-height: 0.8;
}

.scoreBoard {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-content: flex-end;
  align-items: center;
}

.mainSection {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}

.playGround {
  height: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 150px));
  grid-auto-rows: 200px;
  justify-content: center;
  align-content: center;
  justify-self: center;
  gap: 35px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title span {
  font-size: 1.5rem;
  color: #c2c2c2;
}

.scoreBoard p {
  width: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scoreBoard span {
  font-size: 1.25rem;
  color: #ff0000;
}

p {
  padding: 5px;
}

@media (min-width: 450px) {
  .playGround {
    width: 400px;
  }
}

@media (min-width: 850px) {
  .playGround {
    width: 650px;
  }
}

@media (min-width: 1200px) {
  body {
    overflow-x: hidden;
  }

  .playGround {
    width: 1200px;
  }
}
