.card {
  height: 250px;
  width: 180px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  align-self: center;
  gap: 10px;
}

img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.card p {
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 10px;
  pointer-events: none;
}

.card:hover {
  height: 260px;
  width: 190px;
}
