@import url("https://fonts.googleapis.com/css2?family=Basic&display=swap");

.card {
  height: 200px;
  width: 150px;
  position: relative;
  font-family: "Basic", sans-serif;
  font-weight: 500;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px rgba(65, 177, 44, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  align-self: center;
  gap: 10px;
}

img {
  object-fit: cover;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.card p {
  width: 100%;
  position: absolute;
  bottom: 0px;
  border-radius: 0px 0px 10px 10px;
  background-color: rgba(0, 154, 15, 0.9);
  line-height: 1;
  padding: 8px;
  pointer-events: none;
}

.card:hover {
  height: 215px;
  width: 165px;
}
