@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap");

.startScreen {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
  background-color: #040720;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.startScreen h1 {
  font-size: 3.25rem;
  color: #66ff00;
  text-shadow: #66ff00;
  padding: 10px;
}

.startScreen h2 {
  font-size: 2rem;
  color: #767676;
  padding: 10px;
}
